h1 {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: "Arial";
}

h2 {
    font-family: "Arial";
}

p {
    text-align: justify;
    font-family: "Times New Roman";
}